/* 01 css */
.container_01 {
    overflow: hidden;
}

.item_01 {
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black;
    float: left;
}

/* 02 css */
.margin_02 {
    margin: 0 auto;
    width: 500px;
}